@model List<Stats>;
@foreach (var stat in Model)
{
    <h2>@stat.Name</h2>
    <table align="center" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Percentage</th>
            </tr>
        </thead>
        @foreach(var playerStat in stat.PlayerStats)
        {   
        <tr>
            <td>
                @playerStat.Name
            </td>
            <td>
                @playerStat.Wins
            </td>
            <td>
                @playerStat.Losses
            </td>
            <td>
                @playerStat.WinPercentage %
            </td>
        </tr>
        }
    </table>
}


